/*
	File Name:             Game - CSS File 
	Author:                Elaine Mae Villarino, Wallace Balaniuc 
	Last Modified By:      Elaine Mae Villarino
	Last Modified Date:    Tuesday, October 18th, 2016
	Website Name:          EV - COMP397 - Midterm
	Program Description:   CSS file that contains the styles 
                           that render the whole COMP397 - Midterm site.
*/
body {
    background-color: darkgrey;
}

.game {
    width : 70%;
    margin: 0 auto;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    /*HINT: Hide the cursor here */
}