body {
    background-color: darkgrey;
}

.game {
    width : 70%;
    margin: 0 auto;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    /*HINT: Hide the cursor here */
}